.about-icon {
    width: 2rem;
    margin-right: 1rem;
    text-align: center;
    vertical-align: middle;
}

@media all and (orientation: landscape) {
    .about__logo {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}
@media all and (orientation: portrait) {
    .about__logo {
        margin-top: 10%;
        margin-bottom: 0;
    }
}
@media all and (orientation: portrait) and (max-height: 481px) {
    .about__logo {
        margin-top: 10%;
        margin-bottom: 0;
    }
}

.about__logo li {
    max-width: 30%;
    vertical-align: middle;
}
@media all and (orientation: landscape) {
    .about__logo li {
        max-width: 15%;
    }
}
@media all and (min-width: 768px) and (orientation: portrait) {
    .about__logo li {
        max-width: 20%;
    }
}
.about__logo li:nth-child(1) {
    padding: 5px;
}

.about__manifest {
    margin-top: 5px !important;
    margin-bottom: 1.5rem;
}
.about__manifest li {
    margin-bottom: 0;
}
.margin-left__3rem {
    margin-left: 3rem;
}
