.country-label {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &.flag {
        &-fi {
            background-image: url("../images/flags/FI.png");
        }
        &-ru {
            background-image: url("../images/flags/RU.png");
        }
    }

}
