//remove hoster manifest
.cbalink {
    display: none !important;
}

//Forms

//Remove framework issue
input:not([type]) + label,
input[type=text] + label,
input[type=password] + label,
input[type=email] + label,
input[type=url] + label,
input[type=time] + label,
input[type=date] + label,
input[type=datetime] + label,
input[type=datetime-local] + label,
input[type=tel] + label,
input[type=number] + label,
input[type=search] + label,
textarea.materialize-textarea + label {
    //padding-left: 3em;
    // Custom Error message
    &.invalid + label,
    &.invalid + label:after,
    &:focus.invalid + label:after {
        content: attr(data-error);
        color: $input-error-color;
        opacity: 1;
    }
}

$input-padding: 0.75rem;
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=tel] {
    padding-left: $input-padding;
}

.input-field {
    padding-right: $input-padding;
}

// ERROR CLASS FOR INPUT == .invalid
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    padding-left: 10px;
    // Custom Error message
    &.invalid + label,
    &.invalid + label:after,
    &:focus.invalid + label:after {
        content: attr(data-error);
        color: $input-error-color;
        opacity: 1;
    }
    &.valid + label,
    &.valid + label:after,
    &:valid.invalid + label:after {
        content: attr(data-error);
        color: $input-success-color;
        opacity: 1;
    }
}

//Radio & Checkboxes

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    &.checkbox-label {
        &__left {
            padding-left: 0;
            padding-right: 35px;
            &:before {
                left: auto;
                right: 0;
            }
            &:after {
                left: auto;
                right: 0;
            }
        }
    }
}

[type="checkbox"].filled-in + label,
[type="checkbox"].filled-in:not(:checked) + label {
    &.checkbox-label {
        &__left {
            padding-left: 0;
            padding-right: 35px;
            &:before {
                left: auto;
                right: 9px;
            }
            &:after {
                left: auto;
                right: 0;
            }
        }
    }
}

//Add valid/invalid states ti checkboxes and radio
input[type=checkbox]:not(:checked),
input[type=radio]:not(:checked) {
    // Valid Input Style
    &.valid + label,
    &:focus.valid + label {
        color: $input-success-color;
        a {
            color: $input-success-color;
        }
    }

    // Invalid Input Style
    &.invalid + label,
    &:focus.invalid + label {
        color: $input-error-color;
        a {
            color: $input-error-color;
        }
    }

}

input[type=radio]:not(:checked) {
    // Valid Input Style
    &.valid + label:before,
    &:focus.valid + label:before {
        border-color: $input-success-color;
    }

    // Invalid Input Style
    &.invalid + label:before,
    &:focus.invalid + label:before {
        border-color: $input-error-color;
    }
}

input[type=checkbox]:not(:checked) {
    // Valid Input Style
    &.valid + label::after,
    &:focus.valid + label::after {
        border-color: $input-success-color;
    }

    // Invalid Input Style
    &.invalid + label:after,
    &:focus.invalid + label::after {
        border-color: $input-error-color;
    }

}

.input-icon + input.invalid {
    color: $input-error-color;
}

.input-icon + input.valid {
    color: $input-success-color;
}

.input-icon {
    text-align: center;
}

textarea.materialize-textarea {
    &__small {
        overflow-y: hidden;
        padding: .6rem 0;
        min-height: 2rem;
        margin-bottom: 5px;
    }
}

//Form with sticky footer
.form {
    &__with-footer {
        position: relative;
        min-height: 100%;
        padding-bottom: 4rem;
        .footer {
            &-form {
                position: absolute;
                width: 100%;
                bottom: 0;
                padding-bottom: .5rem;
            }
        }
    }
}

//Input with additional btn
.input-field__with-btn {
    position: relative;
}

//My variables

$footer-room: 60px;
$footer-room-double: 90px;
html {
    height: 100%;
}

body {
    position: relative;
    //min-height: 100%;
    height: 100%;
    //padding-bottom: $footer-room;
}

.main-wrapper {
    &__footer-room {
        position: relative;
        min-height: 100%;
        padding-bottom: $footer-room;
    }
}

textarea, input, .picker {
    outline: none !important;
}

.picker {
    left: 0;
    top: 0;
}

//Parameters
nav {
    z-index: 999;
    position: fixed;
}

.zmdi,
.nav {
    a,
    .a {
        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
}

.content {
    padding-top: $navbar-height-mobile;
    position: relative;
    height: 100%;
    overflow: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    background-color: color("grey", "lighten-2");
    margin: 1em 0;
    padding: 0;
}

//Utilites==============================================================================
.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

.footer-sticky {
    position: absolute;
    height: $footer-room;
    width: 100%;
    bottom: 0;

	&.double {
		height: $footer-room-double;
	}
}

.no__decoration {
    text-decoration: none;
}

.block-centered {
    margin: 0 auto;
}
.display-block {
    display: block;
}
.fixed-action-btn.fixed-action-btn__absolute {
    position: absolute;
}

.full-height {
    height: 100%;
    //overflow-y: auto;
    &-min {
        min-height: 100%;
    }
    &__overflow {
        overflow: auto;
    }
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.statick {
    position: inherit !important;
}

.inline-block {
    display: inline-block;
}

.text-size {
    &__x2 {
        font-size: 200%;
    }
}

.large__resize {
    @media all and (orientation: portrait) and (min-width: 374px) and (max-width: 600px) {
        font-size: 1.2rem !important;
    }
    @media all and (orientation: portrait) and (min-width: 600px) {
        font-size: 1.4rem !important;
    }
}

.bg-color {
    &__grey {
        background-color: color("grey", "lighten-2");
    }
    &__greydark {
        background-color: color("grey", "darken-1");
    }
}

.bg-color__white {
    background-color: white;
}

.blue-link {
    color: $link-color;
}

.text-color {
    &__red {
        color: color("red", "accent-4");
    }
    &__white {
        color: white;
    }
}

.bg_padding {
    padding: 5px;
}

.padding {
    &-left__15 {
        padding-left: 15px;
    }
    &-right__15 {
        padding-right: 15px;
    }
}

.v-align {
    &__middle {
        vertical-align: middle;
    }
}

.width {
    &__100 {
        width: 100%;
    }
}

.max-width {
    &__100 {
        max-width: 100% !important;
    }
}

.height {
    &__100 {
        height: 100%;
    }
}

.opacity {
    &__x7 {
        opacity: .7;
    }
}

.border {
    &__bottom {
        border: none;
        border-bottom: 1px solid;
    }
    &__no {
        border: none !important;
    }
}

.margin {
    &__no {
        margin: 0 !important;
    }
}

//Tabs indicator BG
.indicator {
    z-index: 10;
    &__teal {
        .indicator {
            background-color: color("teal", "base");
            z-index: 1;
        }
    }
}

.indicator {
    &__blue {
        .indicator {
            background-color: color("blue", "base");
            z-index: 1;
        }
    }
}

//Buttons
.btn {
    &.btn {
        &__100 {
            width: 100%;
        }
        &__75 {
            width: 75%;
        }
        &__50 {
            width: 50%;
        }
    }
    &__clear {
        border: none;
        background: none;
        padding: 0;
        height: auto;
        &:focus,
        &:active {
            background: none;
        }
    }
    &__h100 {
        height: 100%;
    }
    &__link {
        color: $link-color;
    }
}

//Btn arrow

.global-back-arrow {
    position: fixed;
    top: -5px;
    left: 10px;
    width: 20px;
    height: 50px;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 1000;
}

.global-back-arrow {
    p {
        font-size: 2rem;
        color: #616161;
    }
}

.global-back-arrow {
    &.visible {
        opacity: 1;
    }
}

//Label Error State
.form-group-label {
    .label {
        &-text {
            &__error {
                display: none;
            }
        }
    }
    &__error {
        .label {
            &-text {
                display: none;
                &__error {
                    display: block;
                    color: $error-color;
                }
            }
        }
    }
}

//Nav button position correction
.nav-wrapper {
    padding-left: 1rem;
}

.nav-btn {
    padding: 0 5px;
    margin-right: 5px;
}

.icon-menu {
    left: .5em;
    bottom: auto;
}

//Disabled NAV
.empty-category {
    pointer-events: none;
    cursor: default;
    opacity: .3;
}

//Nav for all pages

header {
    position: relative;
    z-index: 999;
}

//Lists

// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
    @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
    @include list-unstyled;
    margin-left: -5px;

    > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }
}

//Background page

.page-bg {
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    &__start {
        background-image: url("../images/bg/st_page_bg.jpg");
        background-color: rgba(0, 39, 255, 0.5);
    }
    &__mainmenu {
        background-image: url("../images/bg/mainmenu_bg.jpg");
    }
}

.bg__blue {
    background-color: rgba(0, 39, 255, 0.5) !important;
}

//SWIPER

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    height: 100%;
    &-wrap {
        position: relative;
    }
    &-page {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
    }
}

.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
}

//Helplist, Collection

.detail-count {
    position: absolute;
    font-size: .8rem;
    right: 0;
    top: 0;
    background: color("grey", "darken-1");
    width: 1rem;
    line-height: 1rem;
    color: white;
}

.zmdi-collection {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    vertical-align: middle;
    text-align: center;
    &:before {
        vertical-align: sub;
    }
}

.collection__single-line {
    li {
        padding-top: .8rem;
        padding-bottom: .8rem;
    }
    .zmdi-collection {
        top: .8rem;
    }
}

.collection .collection-item.avatar.avatar__zmdi {
    min-height: 0;
}

.mdc-text-red-500 {
    color: $palette-red-500;
}

.mdc-text-yellow-800 {
    color: $palette-yellow-800;
}

.mdc-text-amber-500 {
    color: $palette-amber-500;
}

.mdc-text-lime-500 {
    color: $palette-lime-500;
}

.mdc-text-green-500 {
    color: $palette-green-500
}

.mdc-text-grey-500 {
    color: $palette-grey-500;
}

.manifesto-page {
    OL {
        counter-reset: item;
    }
    LI {
        display: block
    }
    LI:before {
        content: counters(item, ".") " ";
        counter-increment: item
    }
}

.preloader {
    position: fixed;
    top: 32%;
    width: 100%;
    z-index: 998;
    opacity: .5
}

.old-shit {
    .helplist {
        &__fixed {
            &__old {
                position: inherit;
                z-index: 1;
                width: 99%;
                right: 0;
                left: 0;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

//
.dropdown-content {
    left: 50% !important;
    transform: translate(-50%, 0);
}

//16.04
.coordinates-drop1 {
    min-width: 100% !important;
}

.text-transform__none {
    text-transform: none !important;
}

.sav-grey {
    color: #7B7B7B;
}

.side-nav {
    a {
        border-bottom: 1px solid lightgray;
    }
    li:nth-last-of-type(1),
    li:nth-of-type(1){
        a {
            border-bottom: none;
        }
    }
}

.nav-color {
    color: #444;
}
.collection.collection-nav {
    margin: 0;
}
.collection-nav .avatar.collection-item-nav {
    min-height: 0;
    padding-left: 0;
    margin-left: 12px;
    padding-right: 25px;
    border: none;
    .nav-icon{
        vertical-align: middle;
        margin-right: 5px;
        &.nav-avatar{
            width: 32px;
            border-radius: 50%;
        }
    }
    .secondary-content {
        top: .5rem;
        color: #444;
        right: 0;
    }
}
.nav-border {
    border-bottom: 1px solid lightgray !important;
}

.nav-search-block {
    padding-right: 2rem;
    padding-left: 2rem !important;
    button {
        position: absolute;
    }
    button[type="button"] {
        right: -1rem;
        top: 0;
    }
    button[type="reset"] {
        left: -1rem;
    }
    input {
        width: 100% !important;
    }
}

.no-records-brand-img {
	@media #{$small-and-down} {
		img {
			width: 80px;
		}
	}
}
.nav-search-block {
    .input-field {
        padding-right: 1.2rem;
        padding-left: .75rem;
    }
}

//0905
.placeholder__dark {
    &::-webkit-input-placeholder {color:$black-text;}
    &::-moz-placeholder          {color:$black-text;}/* Firefox 19+ */
    &:-moz-placeholder           {color:$black-text;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:$black-text;}
}
//09/05
body, div, header, footer, textarea, input, button, a, nav, main {
    -webkit-overflow-scrolling: touch;
}
.no-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

//1905
nav .button-collapse {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    top: -15px;
    left: -15px;
    border-left-width: 15px;
    padding-left: 15px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.no-selection-label {
    label, button,  ul.tabs {
        @extend .no-selection !optional;
    }
}

//social
#vk_like {
    padding: 0;
    td {
        padding: 0 !important;
        &:nth-of-type(1) {
            display: none !important;
        }
        &:nth-of-type(2) {
            a {
                margin: 0 !important;
            }
        }
        &:nth-of-type(3) {
            a {
                margin-right: 0 !important;
            }
        }
    }
}

@media all and (max-width: 400px){
    .social-like-group {
        display: block !important;
        margin-bottom: 1rem;
    }
    #vk_like {
        vertical-align: bottom;
    }
}
@media all and (min-width: 400px){
    #fb_like {
        padding-bottom: 7px;
    }
}

