
.country-label {
    vertical-align: middle;
    &__helplist-row {
        width: 10%;
    }
    &__flag {
        height: 2.5em;
    }
}

.helplist-row {
    margin-top: 1rem;
    position: relative;
    text-align: center;
    &:not(.card) {
        margin-bottom: 1rem;
    }
    &-text {
        text-align: left;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 5px;
        width: 100%;
        border-bottom: 1px solid color("grey", "lighten-1");
        vertical-align: middle;
        li {
            &:nth-child(1) {
                white-space: nowrap;
                overflow: hidden;
                max-width: 90%; //убираем из под кнопки
            }
            &:nth-child(2) {
                
            }
        }
        &__wrap {
            li {
                &:nth-child(1) {
                    white-space: normal !important;
                    overflow: hidden;
                    max-width: 90%; //убираем из под кнопки
                }
            }
			
			.helplist-row-count {
				color: color("grey", "lighten-1");
			}
        }
		
		.helplist-row-count {
			color: color("grey", "lighten-1");
		}
    }
    &-avatar {
        @extend .img-responsive !optional;
        @extend .circle !optional;
        margin: 0 auto;
        @media all and (min-width: $screen-sm) {
            max-height: 4rem;
        }
    }
}

//City detail
li {
    &.tab {
        &.help-detail-icons {
            min-width: 45px;
        }
    }
}

.help-detail {
    &-icons {
        position: relative;
        .h-icons {
            max-height: 50%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    &-count {

    }
}

.detail-count__help {
    top: 5px;
}

.helplist {
    &__city {
        overflow-x: hidden;
    }
    &__fixed {
        position: fixed;
        z-index: 10;
        width: 99%;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        background: white;
    }
    &-add-btn {
        position: absolute;
        width: 2rem;
        right: 5%;
        top: 10%;
    }
}

.old-shit {
    .helplist {
        &__fixed {
            &__old {
                position: inherit;
                z-index: 1;
                width: 99%;
                right: 0;
                left: 0;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

//Help list menu
.tabs-my {
    overflow-x: hidden;
    max-width: 640px;
}

//WHEN HELPLIST IS FIXED!
.swipe {
    &__helplist-fixed {
        padding-top: 4em;
    }
}

// Helplist add

.tab-helplist-add.active {
    &::before {
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $tabs-underline-color;
        will-change: left, right;

    }
}

// bed
.set-gps {
    padding-top: 1rem;
    padding-bottom: 1rem;
    button {
        margin-left: 1.5rem;
    }
}

.no-records-brand {
    margin-top: 30%;
    display: none;
    &.active {
        display: block;
    }
}

//Single record

.single-record {
    &-btn-group {
        padding: 1em 0;
        &:nth-last-of-type(1) {
            border-bottom: none;
        }
        &:nth-of-type(1) {
            //border-top: 1px solid color("grey", "lighten-1");
        }
        border-bottom: 1px solid color("grey", "lighten-1");
        margin: 0;
        li:nth-child(1) {
            min-width: 80%;
        }
        li:nth-last-child(1) {
            float: right;
            margin-right: 7px;
        }
    }
    &-icon {
        &-group {
            padding: 1rem 0;
        }
        &-count {
            background: $off-black;
            width: 1.5rem;
            height: 1.5rem;
            vertical-align: middle;
            border-radius: 3px;
            line-height: 1.5rem;
            margin-top: .2rem;
        }
    }
    &-comment {
        &-group {
        }
        &-reply {
            position: absolute;
            top: 0;
            right: 1rem;
        }
    }
}

.helplist-row {
    &__single-records {
        //margin-bottom: 0;
        padding: 10px 0 5px;
        ul {
            border-bottom: none;
        }
    }
}

.collection__single-record-comment {
    margin: 0;
    border: 0;
}

.city-km {
    right: 15px;
    height: 100%;
    top: 20px;
}

.nav-search-plus {
    position: absolute;
    right: 15px;
}
