.index {
    &__logo {
		margin-top: 10%;
		margin-bottom: 10%;	

        li {
            max-width: 30%;
            vertical-align: middle;

            @media all and (min-width: $screen-sm) and (orientation: portrait) {
                max-width: 20%;
            }
            &:nth-child(1) {
                padding: 5px;
            }
        }
        &.land {
            li {
                @media all and (orientation: landscape) {
                    max-width: 15%;
                }
            }
        }
    }
    &__manifest {
        margin-bottom: 0 !important;
        li {
            margin-bottom: .5rem;
        }
    }
    &__btn,
    &__manifest {
        padding: 1rem 0;
        @media all and (orientation: portrait) and (max-height: 481px) {
            margin-top: 0;
            padding: .7rem 0;
        }
    }
    &__input {
        margin-top: 18rem;

    }
}

.index__logo-startpage {
    position: fixed;
    left: 0;
    width: 100%;
    @media screen and (max-width: 420px)  {
        margin-top: 1rem;
    }
	
	@media all and (orientation: landscape) {
		margin-top: 2rem;
		margin-bottom: 3rem;
	}
	@media all and (orientation: portrait) {
		margin-top: 1.5rem;
		margin-bottom: 4.5rem;
	}
	@media all and (orientation: portrait) and (max-height: 481px) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.index__input-startpage {
    input {
        border-bottom: 0 !important;
        height: 3rem !important;
    }
    label.active {
       color: color("indigo", "darken-4") !important;
    }
    margin-top: 10rem;
    @media screen and (min-width: 420px) {
        margin-top: 60% !important;
    }
    @media screen and (min-width: 420px) and (orientation: landscape) {
        margin-top: 30% !important;
    }
    @media all and (orientation: landscape) {
        margin-top: 10rem;
    }
    @media all and (orientation: portrait) and (max-height: 481px) {
        margin-top: 8rem;
    }
    label:not(.active) {
        color: white;
    }
}
