.log {
    &-btn-group {
        li {
            padding: 0;
            &:nth-of-type(1) {
                background-color: color("grey", "lighten-1");
            }
            &:nth-child(2) {
                background-color: color("grey", "lighten-2");
            }
        }
        button {
            position: relative;
            padding: 1rem 1.5rem;
            .zmdi {
                vertical-align: middle;
            }
        }
    }
    &-position {
        color: color("grey", "lighten-1");
    }
    &-content {
        padding: 5px 5px 0 5px;
    }
    &-menu {
        background: color("grey", "darken-3");;
        padding: 0 8px;
        a {
            color: white;
            &:hover,
            &:active,
            &:focus {
                color: $link-color;
            }
        }
        &__bottom {
            //position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
        }
        &__room {
            position: relative;
            padding-bottom: 1.1rem;
        }
    }
}

.detail-count_log {
    background-color: $button-raised-background;
}
