/*
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; !* The Fallback *!
    background: rgba($color, $opacity);
}
*/

/*.element {
    @include background-opacity(color("grey", "lighten-2"), 0.5);
}*/

.card-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &-block {

    }
    &__sample {
        background-image: url("../images/card-sample-1.jpg");
    }
}

.card-view__custom {
    .card-action {
        padding: 10px 20px;
        color: color("grey", "darken-2");
    }
    .card-header {
        padding: 10px 20px;
        &.card-title {
            font-size: 1rem;
        }
        &-heading {
            font-size: 1.4rem;
        }
    }
}
$param: color("grey", "lighten-2");
.card-header-image {
    margin-bottom: 0;
    padding-bottom: 10px !important;
    @include tran(bg, color("grey", "lighten-2"), .6);
    width: 100%;
}
.card-header-sub {
    font-size: 1rem;
}

.card-title__custom {
    padding: 15px;
}

.embeded-photo {
    &__quad {
        padding-bottom: 100%;
    }
}

.card-specified-photogrid {
    //box-shadow 0 0 0 1px rgb(169, 169, 169);;
    padding: 2px 0;
    margin-top: 20px;
    div[class*="col-"] {
        padding: 4px;
    }
    //test!!
    overflow: auto;
    //max-height: 200px;
}

.label__custom__white {
    &:not(.active) {
        color: #FFF;
        //TODO 0905 Font size input
        //font-size: 1.2rem;
        font-weight: 600;
    }
}

.action-link {
    &__custom {
        &__card-specified-add {
            font-size: .9rem;
            margin-right: 5px !important;
            float: left;
            padding-top: 2px;
        }
    }
}

.specified-add-btn {
    width: 100%;
    height: 100%;
    text-align: center;
}

.log-card-icon__large {
    font-size: large;
    li {
        padding-left: 7px;
        padding-right: 7px;
        vertical-align: middle;
    }
}

.log-card-icon-count {
    font-size: 1rem;
    vertical-align: text-top;
    margin-right: 3px;
}
.card-title-avatar {
    margin-top: .5rem;
    border-radius: 50% !important;
}

.card-header-image {

}
textarea.fullscreen {

    resize: none;
}
.textarea__fullscreen {
    &.fullscreen {
        position: fixed;
        width: 96%;
        height: 90%;
        z-index: 999;
        top: 10%;
        left: 2%;
        background: white;
        textarea {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 15px;
        }
        label {
            display: none;
        }
    }
     &-close {
        display: none;
    }
    &.fullscreen  &-close {
        display: block;
        position: absolute;
        top: 5%;
        right: 5%;
    }

}


//Old brousers
.textarea-specified {
    z-index: 99;
}
.z-index-top {
    z-index: 99;
}

//1905
.btn-specified-close {
    @include tran(bg, color("grey", "lighten-2"), .5);
    line-height: 1;
    width: 2em;
    color: red;
}
.btn-specified-indicator {
    @include tran(bg, color("grey", "lighten-2"), .5);
    line-height: 1;
    width: 2em;
    height: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-specified {
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
//26.05
.geo-tag {
    span, button {
        vertical-align: middle;
    }
}
//01.06
.card-view-block {
    padding-left: 12px;
    margin: 0 !important;
}
