.my-card {
    background-color: rgba(255, 255, 255, .15);
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 8px;
    width: 45%;
    display: inline-block;
    margin: 5px;
    @media all and (orientation: landscape) {
        width: 22%;
    }
    &:hover,
    &:focus,
    &:active {
        background-color: rgba(255, 255, 255, .4);
        border: 1px solid rgba(255, 255, 255, .9);
    }
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    &-title {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        span {
            font-size: 1.1rem;
            //margin-top: 1rem;
            display: inline-block;
            white-space: nowrap;
            @media all and (min-width: 767px) {
                font-size: 1.8rem;
            }
        }
    }
    .my-card-icon {
        margin: 0 auto;
    }
}

.card-item {
    @media all and (min-width: 600px) and (orientation: portrait) {
        padding-bottom: 60%;
    }
    @media all and (max-width: 320px) and (orientation: portrait) and (max-height: 500px) {
        padding-bottom: 60%;
    }
}

.card-item {
    @media all and (min-height: 767px) and (orientation: landscape) {
        padding-bottom: 100%;
    }
}

.card-item {
    @media all and (min-height: 380px) and (orientation: landscape) {
        padding-bottom: 85%;
    }
}

.card-block {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
}

.menu-top-left {
    left: 10px;
    top: 10px;
}

.menu-top-right {
    right: 10px;
    top: 10px;
}

.menu-top-right-btn {
    right: 0;
    top: 0;
    padding: 10px;
    //-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.menu-top-left-btn {
    left: 0;
    top: 0;
    padding: 10px;
}

.menu-count {
    font-size: 2em;
    height: 1.4em;
    width: 1.4em;
    line-height: 1.4em;
    text-align: center;
    background: white;
    border-radius: 8px;
}

#content-wrapper {
    @extend .full-height !optional;
}

#content-wrapper > div {
    @extend .full-height !optional;
}

//0604
.sos-text {
    font-size: 250% !important;
}

.spin-icon {
    &-stones {
        display: none;
    }
    .lets-go &-stones {
        display: inline-block;
        @media all and (orientation: landscape) and (max-width: 660px) {
            display: none !important;
        }
    }
    .lets-go &-wheel {
        animation-name: spin;
        animation-duration: 600ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 100;
    }
}

.message-icon {
    &-in {
        display: none;
    }
    .massage-in &-in {
        display: inline-block;
    }
    .massage-in &-no {
        display: none;
    }
}

.spin-icon {
    animation-name: spin;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 100;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

//180416
.my-card-title {
    span {
        display: block;
    }
}

//0906
.card-block.help-mode {
    .my-card {
        opacity: .3;
        pointer-events: none;
    }
    .my-card.help-active {
        opacity: 1;
    }
}

.my-card {
    padding: 0;
    span {
        display: block;
    }
}

//16/06
.mainmenu-title {

}

.mainmenu-btn {
    border-radius: 56%;
    height: 10rem;
    padding-top: 5rem;
    top: -3rem;
    position: absolute;
    display: block;
    width: 10rem;
    margin-left: -5rem;
    z-index: 1;
    left: 50%;
    &.help-active {
        z-index: 0;
    }

    .btn-title {
        &.text {
            display: block;
            line-height: 1.3;
        }
        &.icon {
            display: block;
            line-height: 0;
            img {
                height: 2rem;
            }
        }
    }
}

.menu-tooltip {
    padding: 10px 8px;
    font-size: 1rem;
    z-index: 2000;
    background-color: transparent;
    color: #fff;
    line-height: 120%;
    opacity: 0;
    display: none;
    position: absolute;
    text-align: center;
    max-width: calc(100% - 4px);
    transform: translate(-50%, 0);
    left:50%;
    top:3rem;
    @media all and (orientation: landscape) {
        //top:-3rem;
    }
    width: 100%;
    pointer-events: auto;
    //pointer-events: none;
    will-change: top, left;
    &__bottom {
        top: auto;
        bottom: 0;
        @media all and (orientation: landscape) {
            bottom: auto;
        }
    }
}
.old-shit {
    .menu-tooltip {
        top:6rem;
        @media all and (orientation: landscape) {
            top:1rem;
        }
        &__bottom {
            top: auto;
            bottom: 3rem;
            @media all and (orientation: landscape) {
                bottom: auto;
            }
        }
    }
}

.menu-backdrop {
    position: absolute;
    opacity: 0;
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #323232;
    z-index: -1;
    top: 0;
    left: 0;
}
.my-card.help-active {
    .menu-backdrop {
        display: block;
        opacity: .8;
    }
    .menu-tooltip {
        display: block;
        opacity: 1;
    }
}
.menu-tooltip.active {
    display: block;
    opacity: 1;
    .menu-backdrop {
        display: block;
        opacity: .8;
    }
}
.mainmenu-btn-block.help-active {
    pointer-events: none;
    .menu-backdrop {
        display: block;
        opacity: .8;
    }
    .menu-tooltip {
        top: 8rem;
        display: block;
        opacity: 1;
    }
}
