.nav {
    max-height: 100%; //need test
    overflow: hidden;
    &-search {
        &-block {
            padding-left: 10px;
            background: $button-disabled-color;
            position: absolute;
            width: 100%;
            height: 100%;

            z-index: 2;
            input[type="text"],
            input[type="search"] {
                color: white;
                width: 80%;
                padding-left: 0;
                margin-left: 5px;
            }
            display: none;
            &.active {
                display: block;
                left: 0;
                @extend .slideInLeft !optional;
            }
        }
    }
}

.dropdown-button.brand-logo {
    .zmdi {
        vertical-align: middle;
        margin-left: 5px;
    }
}
//animation
@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}


.slideInLeft {
    -webkit-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: slideInLeft;
}
