.priority-low {

}

.priority-high {
    background-color: color('red', 'lighten-4');
}

.collection .query-collection-item.avatar {
    min-height: 0;
    p {
        color: #bdbdbd;
    }
}

.query-tabs {
    background-color: color('blue', 'darken-4');
    a {
        font-size: .85rem;
    }
}

.collection-zmdi-query {
    top: 0;
}

.checkbox-group__query {
    padding: 5px 15px;
}

.select-wrapper {
    //padding-left: 3rem;
    select {
        border: none;
        border-bottom: 1px solid #B6B6B6;
        outline: none;
        height: 3rem;
        font-size: 1rem;
        margin: 0 0 15px 0;
        //box-shadow none;
        box-sizing: content-box;
        transition: all .3s;
        width: 100%;
        color: #B6B6B6;
        padding: 0;
    }
}

.input-field-select {
    .browser-default {
        margin-left: 5px
    }
    .input-icon {
        width: 3rem;
        transition: color .2s;
    }
}

@media only screen and (max-width: 992px) {
    .input-field-oldshit .select-wrapper .select-dropdown {
        width: 86% !important;
        width: -webkit-calc(100% - 3rem) !important;
        width: calc(100% - 3rem) !important;
    }
}

.input-field-oldshit .select-wrapper .select-dropdown {
    //margin-left: 3rem;
    width: 92% !important;
    width: -webkit-calc(100% - 3rem) !important;
    width: calc(100% - 3rem) !important;
}

.select-dropdown {

}

.input-field-oldshit .select-wrapper {
    //padding-right: 3rem;
    select, input {
        color: #B6B6B6;
    }
}

.label__left0 {
    left: 0 !important;
}

//OLD SHIT
.old-shit {
    .select-wrapper {
        width: 93% !important;
        //padding-right: 6rem;
        @media all and (orientation: landscape) {
            width: 92% !important;
        }
        .caret {
            //right: 3rem;
        }
        .select-dropdown {
            border-bottom: 1px solid #B6B6B6;
        }
    }
}

.request {
    &-accident {
        display: block;
        width: 32px;
        height: 32px;
        @media all and (max-width: 320px) {
            width: 16px;
            height: 16px;
        }
        background: url("../images/icons/query-info.png") no-repeat center;
        background-size: cover;
    }
    &-question {
        display: block;
        &::before {
            content: url("../images/icons/query-info.png");
            display: inline-block;
        }
    }
    &-bed {
        display: block;
        &::before {
            content: url("../images/icons/query-info.png");
            display: inline-block;
        }
    }
    &-chat {
        display: block;
        &::before {
            content: url("../images/icons/query-info.png");
            display: inline-block;
        }
    }
    &-trouble {
        display: block;
        &::before {
            content: url("../images/icons/query-info.png");
            display: inline-block;
        }
    }
}

//1404
#formQuery {
    .input-field.input-field-oldshit {
        padding-right: 0rem;
    }
    .input-field-oldshit .select-wrapper .select-dropdown {
        margin-left: 2rem;
        width: 92%;
        width: -webkit-calc(100% - 2rem) !important;
        width: calc(100% - 2rem) !important;
    }

}

//1804
.query-input {
    border: none;
    border-bottom: 1px solid grey;
}

//0605
.input-field.input-field-query {
    //padding-right: 1.75rem;
    padding-right: 1.75rem;
}
.select-wrapper .dropdown-content.select-dropdown.active {
    margin-left: 0 !important;
}
//15.05
.margin-left_1 {
    top: 0 !important;
    margin-left: 1.2rem !important;
}
.first_block {
    margin-top: 1.5rem !important;
}
.icon-bottom {
    top: .7rem !important;
}
