.checkbox-group {
  .checkbox {
    margin-top: 10px;
  }
    &__registration {
        padding-right: 15px;
        margin-top: 15px;
        //10.04.16
        a {
            @media all and (min-width: 375px) {
                //padding-left: 50px;
            }
        }
    }
}


.first-input {
    margin-top: 2rem;
}
