.route {
    &-input {
        padding-right: 3rem;
    }
    &-avatar {
        position: absolute;
        width: 42px;
        height: 42px;
        overflow: hidden;
        left: 15px;
        display: inline-block;
        vertical-align: bottom;
    }
    &-collection-item {
        min-height: 47px !important;
    }
    &-collection-text {
        display: inline-block;
        padding-top: 6px;
    }
    &-card-title {
        padding-left: 15px;
        padding-top: 15px;
        font-size: 120%;
    }

    &-btn {
        margin-top: 10px;
    }
}

.date-pick {
    margin: 0 !important;
    max-width: 7em !important;
    text-align: right;
    border-bottom: none !important;
    &-block{
        top: 3px !important;
    }
}

//Issue 4.1.1 android
.picker.picker--focused {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.date-pick-block .date-pick {
    &::-webkit-input-placeholder {
        color: $input-border-color !important;
        text-align: right;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: $input-border-color !important;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: $input-border-color !important;
    }

    &:-ms-input-placeholder {
        color: $input-border-color !important;
    }
}

.textarea__collection {
    float: right;
    max-width: 65%;
}


//NOW
.date-pick-value {
    height: 42px;
    line-height: 42px;
    padding-top: 3px;
}

//10/05
.routes_short {
    @media all and (max-width: 410px) {
        display: inline-block;
        max-width: 85%;
    }
}
.routes_very_short {
    @media all and (max-width: 410px) {
        display: inline-block;
        max-width: 65%;
    }
}
