.settings {
    &-img {
        max-height: 100px;
        max-width: 100px;
        margin: 0 auto 1rem;
        padding: 0;
    }
    &-switch-group {
        padding: .5rem 0 .5rem .5rem;
        .switch {
            padding: .5rem 0;
        }
    }
    &-select {
        text-align: right;
        margin-top: 0;
        padding: .5rem 0;
        vertical-align: middle;
        //margin-bottom: .5rem;
        .select-wrapper {
            max-width: 30%;
            right: 0;
            margin-right: 15px;
            display: inline-block;
        }
        label {
            left: 0;
        }
        select.browser-default {
            display: inline-block;
            max-width: 30%;
            margin-right: 15px;
            border: none;
            border-bottom: 1px solid #f2f2f2;
            height: 2rem;
        }
        label.browser-default {
            font-size: 1rem;
            cursor: text;
            float: left;
            margin-top: 4px;
            min-width: 50%;
            text-align: left;
        }

    }
}

//Profile
.settings-profile-btn-space {
    padding-bottom: 60px;

	.input-field label {
		color: $off-black;
	}
}

.tabs.helplist__city .tab.settings-detail-icons {
    min-width: 0;
    .zmdi {
        vertical-align: middle;
        color: color("grey", "darken-2");
        position: relative;
    }
    a.active {
        background-color: color("blue", "lighten-5");
    }
}

.settings-profile-swipe{
    visibility: visible;
    overflow-x: hidden;
}
.avatar {
    &__rounded {
        border-radius: 50%;
    }
}

