.sos-title {
    left: 0;
    top: 50%;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    transform: translate(0, -50%);
    @media all and (min-width: 480px) and (orientation: portrait) {
        font-size: 3em;
    }
}

.sos-btn {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 6em;
    color: white;
    left: 0;
}

@media all and (orientation: portrait) {
    .spacer.quad-media {
        padding-top: 100%;
    }
}

@media all and (orientation: landscape) {
    .spacer.quad-media {
        padding-top: 30%;
    }
    .sos-btn {
        font-size: 3em;
    }
}

.sos-element-subject {
    color: color('red', 'base');
    font-size: 1.5em;
    padding: 1em 0;
}

.sos2-button-block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

.sos2-button {
    width: 100%;
    padding: 2em 0;
    @media all and (orientation: landscape) {
        padding: .5em 0;
    }
}
@media all and (max-width: 320px) and (orientation: portrait) and (max-height: 500px){
    .sos2-button {
        width: 100%;
        padding: 1em 0;
    }
}
@media all and (orientation: landscape) {
    .sos2-button-block-text {
        margin:0;
    }
}
.sos-type {
    .btn__clear {
        padding: 0 .5em;
    }
}
@media all and (orientation: portrait) {
    .sos-type {
        margin: 2em auto;
    }
}
@media all and (max-width: 320px) and (orientation: portrait) and (max-height: 500px){
    .sos-type {
        margin: 0 auto;
    }
}
.sos2-title {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}
.sos2-btn {
    width: 6em;
}
