.collapsible-header {
    .collapsible-btn {
        width: 2rem;
        font-size: 1.6rem;
        line-height: $collapsible-height;
        display: block;
        float: left;
        text-align: center;
        margin-right: 1rem;
    }
    .collapsible-btn.right {
        float: right;
    }
    &.active {
        .collapsible-btn {
            &__open {
                display: none;
            }
            &__close {
                display: inline-block;
            }
        }
    }
    .collapsible-btn {
        &__close {
            display: none;
        }
    }
}

.card, .collapsible-body {
    .collection {
        .collection-item:nth-last-of-type(1) {
//            border-bottom: none !important;
        }
    }
}

.talk-refresh {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

//Dialog
.dialog {
    &-textarea {
        position: relative;
        padding-right: 4em;
        resize: none;
        border: none;
        border-bottom: 1px solid $collection-border-color;
    }

    &-sent {
        position: absolute;
        top: 0px;
        right: 15px;
    }
}

.footer-sticky__fixed {
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
    //background: transparent;
}

.dialog-block {
    max-width: 90%;
}

.collection .collection-item.avatar.avatar__right {
    padding-left: 15px;
    padding-right: 72px;
    text-align: right;
    .circle {
        left: auto;
        right: 15px;
    }
}

$in-color: color("green", "base");
$out-color: color("blue", "base");
$footer-color: color("indigo", "accent-2");
.message-in {
    margin-left: 20%;
    @include tran('bg', $in-color, .3)
}

.message-in, .message-out {
    margin-bottom: 1em;
}

.message-out {
    @include tran('bg', $out-color, .3)
}

/*.wrapper-whatsup {
    background: url("../images/whatsup.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}*/

.dialog-footer {
    padding-top: 10px;
    @include tran('bg', $footer-color, .6)
}

//Freiend profile
$hor: 2em;
$vert: 2em;
.friend-profile {
    &-wrapper {
        max-width: 600px;
        margin: 0 auto;
        position: relative;
        .large {
            font-size: 150%;
            margin: 0;
        }
    }
    &-block {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background: color('grey', 'lighten-2');
    }
    &-btn {
        @extend .absolute !optional;
        @extend .btn__clear !optional;
        &__top-left {
            left: $hor;
            top: $vert;
        }
        &__top-right {
            right: $hor;
            top: $vert;
        }
        &__bottom-left {
            left: $hor;
            bottom: $vert;
        }
        &__bottom-right {
            right: $hor;
            bottom: $vert;
        }
    }
}

.spacer {
    font-size: 0;
    height: 0;
    &.quad {
        padding-top: 100%;
    }
}

.friend-profile-ava {
    max-width: 60%;
    margin: 2rem auto;
    border-radius: 100%;
}


.friend-profile-btn {
    @extend .absolute !optional;
    @extend .btn__clear !optional;
    &__top-left {
        left: $hor;
        top: $vert;
    }
    &__top-right {
        right: $hor;
        top: $vert;
    }
    &__bottom-left {
        left: $hor;
        bottom: $vert;
    }
    &__bottom-right {
        right: $hor;
        bottom: $vert;
    }
}

.fab-space {
    padding-bottom: 60px;
}
.page-bg__dialog {
    background: url("../images/whatsup.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
