@function unicode($str){
	@return unquote("\"") + $str + unquote("\"");
}

@mixin clearfix() {
	&:after,
	&:before {
		content: "";
		display: table;
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

@mixin form-label() {
	padding-top: (($input-height - $line-height) / 2);
	padding-bottom: (($input-height - $line-height) / 2);
	text-align: right;
}

@mixin img-responsive() {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100% \9;
}

@mixin text-overflow() {
	display: block;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
    padding-left: 0;
    list-style: none;
}
